* {
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
} /*se não tiver funcionando, Windows -> Configurações > Facilidade de Acesso > Tela > Mostrar animações no Windows*/

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: "Fjalla One", sans-serif;
    font-size: 25pt;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
}

.container-home{
    background-image: url('images/wood-wallpaper.jpg');
}
.container-abt-me{
    background-image: url('images/bege-bg-1.jpg'); 
}
.container-tcn{
    background-image: url('images/wood-table.jpg');
}
.container-pj{
    background-image:url('images/geometric-shapes-pattern.jpg');
    position: relative;
}
.container-pj::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.container-pj > * {
    position: relative;
    z-index: 1;
}

header{
    display: flex;
    justify-self: center;
    position: fixed;
    z-index: 10;
    width: 70%;
    border-radius: 40px;
    margin-top: 1%;
    padding: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color:rgb(247, 246, 212);
    
}
nav{
    width: 100%;
}
nav ul li:hover{
    transform: scale(1.06);
    transition: all 0.3s ease;;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:3%;
    width: 100%;
}

/* ============ HOME ==========================*/
.home{
    display: flex;
    flex-direction: row;
    margin:10%;
    gap: 7%;
    align-items: center;
}
.info {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5%;
    width: 40vw;
    border-radius: 10px;
    color: white;
}
.info h2{
    font-size: 50pt;
}

.info p {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    color: white;
    text-decoration: none;
}
.item-info-contact{
    background-color: burlywood;
    border-radius: 30px;
    margin-top: 10%;
    width: 60%;
    padding: 3%;
    display: flex;
    gap:10px;
    justify-content: center;
}

.item-info-contact:hover {
    background-color:rgb(151, 126, 93);
    transform: scale(1.05);
    transition: all 0.3s ease;;
}

hr{
    width: 100%;
}
img{
    display: block;
    height: auto;
    object-fit: contain;
}
.home img{
    max-width: 100%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.home img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* ====================== About ==========================*/
.about-card {
    width: 40%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin:10%;
}

/* ===================== Technologies ==========================*/

.tcn-card{
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-self:center;
    height: 50rem;
}

.tcn-info{
    margin-left: 5%;
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
    grid-template-rows: 15rem 15rem;
    height: 80%;
    gap: 2%;
    perspective: 800px; 
}

.tcn-info span{
    display: flex;
    background-image: url("images/postit.png");
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
    transform: rotateX(20deg) rotateY(6deg) rotateZ(-10deg);
}
.tcn-info span img{ 
    width: 60%;
    height: 60%;
    opacity: 80%;
    margin-top: 27%;
    margin-left: 15%;
}
.tcn-card h2{ 
  font-weight: 600;
  font-size: 3em;
  color: #494542;
 }
.tcn-info span:hover{
    transform: rotateY(10deg) translateZ(20px) scale(1.05);
}

/* ===================== Projects ==========================*/
.pj-card{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-self:center;
    padding: 2rem;
    color:#eee6e2;
}
.pj-card h2{
    font-size: 1.5em;
}
.pj-itm{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    height: 10rem;
    position: relative;
}
.pj-info{
    align-self: center;
    width: 35vw;
    font-family: "Anton", sans-serif;
    font-size: 2em;
    background: linear-gradient(to right,
        rgb(175, 125, 85) 50%,
        #d6cfcc 50%
        );
    background-size: 200% 100%;
    background-position: 100% 0%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 1.4s ease;
}
.pj-info:hover{
    background-position: 0% 0%;
}
.pj-info span span{
    font-family: "Fjalla One", sans-serif;
}

.pj-card hr{
    border: none;
    border-top: 3px solid #b4adaa;
}
.pj-itm img{
    width: 20vw;
    position: absolute;
    left: 70%;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
